<div class="gridProducts__card">
    <div class="gridProducts__card--favorite" data-id="' + item.id + '">
        <img class="gridProducts__card--icon" src="icons/bookmark.svg" />
    </div>
    <div class="gridProducts__card--infos">'
        <div class="gridProducts__card--image"><img class="product-img" src="' + item.image + '" /></div>
        <div class="gridProducts__card--description"><span> + item.title + </span></div>
        <div class="gridProducts__card--price"><span>R$ + item.price + '</span></div>
    </div>
</div>